# Entornos virtuales
.venv/
venv/

# Archivos temporales de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.eggs/

# Archivos de datos procesados o de gran tamaño
data/*.parquet
data/*.csv

# Ajustes del IDE
.vscode/
.idea/