# Entornos virtuales
.venv/
venv/
env/

# Temporales de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.eggs/

# Datos procesados o pesados
data/*.parquet

# Ajustes de IDE
.vscode/
.idea/