# Virtual environments
.venv/
venv/
env/

# Python and Jupyter temporary files
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.eggs/

# Processed or large data files
data/*.parquet
data/*.csv

# IDE settings
.vscode/
.idea/